<h1>Stupid Coaching</h1>
<div class="question blok">
  <p><%= @question %></p>
  <p class="author">- You</p>
</div>
<div class="answer blok">
  <p><%= @answer %></p>
  <p class="author">- Coach</p>
</div>

<%= link_to "Ask another question", ask_path %>
